<div class="myapp">
      <p>myapp works!</p>
      {{myAppName}}  
      {{"welcome"+myAppName}}
      <h2>title {{property}}</h2>
      <div>
          <table>
              <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>age</th>
                  <th>native</th>
              </tr>
              <tr *ngFor="let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.age}}</td>
                  <td>{{user.native}}</td>
              </tr>
          </table>
      
      <h2>Event Binding</h2>
      </div>
      <div>
          <input type="text" value="{{myAppName}}"> 
      </div>
      <div>
          <input type="text" [value]="myAppName" disabled="{{isDisabled}}">
      </div>
      <div>
          <input type="text" #myName  [value]="myAppName" [disabled]="isDisabled">
          <button (click)="onClick($event)">Submit</button>
      </div>
      {{myName.value}}
      <p *ngIf="show; else elseBlock">Directives</p>
      <ng-template #elseBlock><p>Directives</p></ng-template>
      <!-- <p *ngIf="!show">No Directives</p> -->
      <ul>
          <li *ngFor="let e of array; last as l">{{l}} {{e}}</li>
      </ul>
      
      <p><b>two way Databinding</b></p>
      <input type="text" [(ngModel)]="name">
      <p>{{name}}</p>
      
      <p> child to parent</p>
      
      <button (click)="sendToParent()">BUTTON</button> 
</div>
