<p>myapp works!</p>
{{myAppName}}  
{{"welcome"+myAppName}}
<div>
    <input type="text" value="{{myAppName}}"> 
</div>
<div>
    <input type="text" [value]="myAppName" disabled="{{isDisabled}}">
</div>
<div>
    <input type="text" #myName  [value]="myAppName" [disabled]="isDisabled">
    <button (click)="onClick($event)">Submit</button>
</div>
{{myName.value}}
<p *ngIf="show; else elseBlock">Directives</p>
<ng-template #elseBlock><p>Directives</p></ng-template>
<!-- <p *ngIf="!show">No Directives</p> -->
<ul>
    <li *ngFor="let e of array; last as l">{{l}} {{e}}</li>
</ul>

<p><b>two way Databinding</b></p>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>